<h1>Movies Listing</h1>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>
<div>aloha</div>


<% content_for :page_script do %>
  <script type="text/javascript">
    $(function() {
      setTimeout(function() {
          $('.alert').alert('close')
      }, 3000);
    });
  </script>
<% end %>
