/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

html, body {
  font-family: 'Patrick Hand';
}

header {
  a.home-page:hover {
    text-decoration: none;
  }
  .size-title, .size-logo {
    font-size: 2.4rem;
  }
  @include media-breakpoint-down(lg) {
    .size-title, .size-logo {
      font-size: 2rem;
    }
  }
  @include media-breakpoint-down(md) {
    .size-title, .size-logo {
      font-size: 1.8rem;
    }
  }
  @include media-breakpoint-down(sm) {
    .size-title, .size-logo {
      font-size: 1.5rem;
    }
  }
  hr {
    border-top-width: 2px;
  }
}

.share-movie-container {
  .title {
    top: -15px;
  }
}

.movies-container {
  .movie-item {
    .movie-title {
      font-size: 1.1rem;
    }
    .movie-description {
      font-size: 0.9rem;
      white-space: pre-wrap;
    }
  }

  .movie-description-wrapper {
    .collapse-control {
      font-size: 0.9rem;
    }
  }

  .movie-description-wrapper p.collapse:not(.show) {
      height: 63px !important;
      overflow: hidden;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  }

  .movie-description-wrapper p.collapsing {
      min-height: 63px !important;
  }

  .movie-description-wrapper a.collapsed:after  {
      content: 'Show More';
  }

  .movie-description-wrapper a:not(.collapsed):after {
      content: 'Show Less';
  }
}

@media (max-width: 575px) {
  .btn-xs-block {
    display: block;
    width: 100%;
  }
}

.min-vh-50 {
  min-height: 50vh !important;
}
